@import "tailwindcss";


:root {
    --background: #07111f;
    --foreground: #f8fafc;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background:
      radial-gradient(circle at top, rgba(56, 189, 248, 0.08), transparent 20%),
      radial-gradient(circle at right, rgba(168, 85, 247, 0.08), transparent 20%),
      var(--background);
    color: var(--foreground);
  }
  
  /* * {
    border-color: rgba(255, 255, 255, 0.08);
  } */
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 999px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  .react-flow {
    background: #07111f;
  }
  
  .react-flow__controls {
    box-shadow: none !important;
    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    overflow: hidden;
    background: rgba(11, 23, 40, 0.95) !important;
  }
  
  .react-flow__controls-button {
    background: rgba(11, 23, 40, 0.95) !important;
    color: white !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08) !important;
  }
  
  .react-flow__controls-button svg {
    fill: white !important;
  }
  
  .react-flow__minimap {
    border-radius: 14px;
    overflow: hidden;
  }
  
  .react-flow__minimap svg {
    display: block;
  }
  
  .react-flow__panel.react-flow__minimap {
    margin: 16px;
  }
  
  .react-flow__attribution {
    display: none !important;
  }